<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.thyp.agendathyp1516"  >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ActivityConnection" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activities.ActivityMenu" />
        <activity
            android:name=".Activities.EDTDAY"
            android:label="@string/title_activity_edtday"
            android:parentActivityName=".Activities.ActivityMenu"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.thyp.agendathyp1516.Activities.ActivityMenu" />
        </activity>
        <activity
            android:name=".Activities.EdtWeek"
            android:label="@string/title_activity_edt_week"
            android:parentActivityName=".Activities.ActivityMenu"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.thyp.agendathyp1516.Activities.ActivityMenu" />
        </activity>
        <activity
            android:name=".Activities.GestionEdt"
            android:label="@string/title_activity_gestion_edt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SelectClassRoom"
            android:label="@string/title_activity_select_class_room"
            android:parentActivityName=".Activities.GestionEdt"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.thyp.agendathyp1516.Activities.GestionEdt" />
        </activity>
        <activity
            android:name=".Activities.SelectHours"
            android:label="@string/title_activity_select_hours"
            android:parentActivityName=".Activities.GestionEdt"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.thyp.agendathyp1516.Activities.GestionEdt" />
        </activity>
    </application>

</manifest>
